{% extends 'base.html.twig' %}

{% block title %}New Examen{% endblock %}

{% block body %}
    <h1>Creation d'Examens</h1>

    {{ include('examen/_form.html.twig') }}

    <a href="{{ path('examen_index') }}">Retour a la liste</a>
{% endblock %}
