{% extends 'base.html.twig' %}

{% block title %}New Etablissement{% endblock %}

{% block body %}
    <h1>Creation d'Etablissement</h1>
 {% if is_granted('ROLE_ELEVE') %}
    {{ include('etablissement/_form.html.twig') }}
{% endif %}
    <a href="{{ path('etablissement_index') }}">back to list</a>
{% endblock %}
